# Firebase Configuration Files
GoogleService-Info.plist

# Untrack although for public use.
Dine-Halal-Info.plist

# API Keys
APIKEYS.swift
Apikeys.swift
Secrets.swift

# Xcode
.DS_Store
xcuserdata/
*.xcuserstate
DerivedData/
*.xcuserdatad/

# API Keys
DineHalal/APIKEYS.swift
# CocoaPods - if needed .
Pods/
Podfile.lock

# Build generated
build/
DerivedData/

# Environment files
.env
