# Firebase Configuration Files
GoogleService-Info.plist

# Google Maps API Configuration
Dine-Halal-Info.plist

# API Keys
APIKEYS.swift
Secrets.swift

# Xcode
.DS_Store
xcuserdata/
*.xcuserstate
*.xcworkspace
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# CocoaPods
Pods/
Podfile.lock

# Build generated
build/
DerivedData/

# Environment files
.env
